/* ---------------------------------------
              General
------------------------------------------- */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

header {
	width: 100%;
	background-color: #22223D;
	height: 75px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;

}

ul li {
	list-style-type: none;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
	font-family: 'Karla', sans-serif;
}
.content {
  flex: 1 0 auto;
}


#container{
	width: 100%;
	height: 91%;
}

footer {
  flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	width: 96%;
	background-color: #22223D;
	color: white;
	padding: 1.5% 2%;
	font-size: .5rem;
	z-index: 100;
}

footer .whale-link{
	color: #7FFFD4;
}

/* ---------------------------------------
              Hamburger Menu
------------------------------------------- */

.desktop-menu {
	display: none;
}

.hamburger{
  background:none;
  line-height:45px;
  padding:2%;
  color: #98e6cc;
  border:0;
  font-size:3rem;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  padding:7px 15px 0px 15px;
  color: #98e6cc;
  border:0;
  font-size:5rem;
  line-height:65px;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu{
	z-index:1000000;
	font-weight:bold;
	font-size:0.8em;
	width:100%;
	background:#f1f1f1;
	position:absolute;
	text-align:center;
	font-size:.75rem;
 }

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}

.menu li {
	display: block;
	padding:15px 0 15px 0;
	border-bottom:#dddddd 1px solid;
}
.menu li:hover{
	display: block;
	background:#ffffff;
	padding:15px 0 15px 0;
	border-bottom:#dddddd 1px solid;
}
.menu ul li a {
	text-decoration:none;
	margin: 0px;
	color:#666;
}
.menu ul li a:hover {
	color: #666;
	text-decoration: none;
}
.menu a{
	text-decoration:none;
	color:#666;
}
.menu a:hover{
	text-decoration:none;
	color:#666;
}

.logo-menu-container{
	position: absolute;
	top: 0;
	left: -2%;
	width: 20%;
	z-index: 100;
	padding: 5%;
	background-color:#22223D;
	border-radius: 50%;
}

.logo-menu{
	width: 100%;
}
/* ---------------------------------------
              Facts Page Styles
------------------------------------------- */

#facts-pic{
	position: absolute;
	z-index: -1000;
	width: 100%;
	object-fit: cover;
	top:5%;
	max-height: 500px;
}

article{
	margin-top: 30%;
}

article h1{
	margin: 5%;
	font-size: 3rem;
	text-align: center;
	color: #22223D;

}

.facts-main{
	margin-bottom: 5%;
}

.facts-main h2 {
	margin: 0 5%;
	color: #98e6cc;
	font-size: 2rem;
}

.facts-main p {
	margin: 5%;
	line-height: 2rem;
}

/* ---------------------------------------
              Quiz Page Styles
------------------------------------------- */
h1{
	margin: 10% 2% 2% 2%;
}


.quiz{
	display: flex;
	flex-direction: column;
	align-items: center;
}

figure{
	position: relative;
	width: 81%;
	margin: 5% 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
}


.quiz-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	transition: .1s
}

.quiz-img:hover {
	transform: scale(1.1);
	transition: .2s

}

figure h3{
	margin: 5%;
}

.box-content {
  display: none;
	line-height: 1.5em;
}

/* ---------------------------------------
              Videos Page Styles
------------------------------------------- */

.player {
	width: 100%;
}

.resp-container{
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

iframe{
	position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border: 0;
}

#show-player-2, #show-player-3{
	display: none;
}

.alt-container{
	position: relative;
	width: 90%;
	margin: 5%;
	height: 200px;

}

.alt-image{
	object-fit: cover;
  width: 100%;
  height: 100%;
}


.hover-title {
  position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
 color:white;
 opacity: 0;
 transition: .5s ease;
 background: rgba(56,56,56,0.6);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.hover-title p {
	margin: 5%;
	text-align: center;
}

.hover-title:hover{
	opacity:1;
}



/* ---------------------------------------
            Media Queries 450
------------------------------------------- */
@media(min-width: 450px) {
	.quiz{
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	}

	figure {
		width: 45%;
	}
}
/* ---------------------------------------
            Media Queries 760
------------------------------------------- */


@media (min-width: 760px){

	.logo-menu-container {
		display: none;
	}
	.menu, .hamburger, .cross{
		display: none;
	}

	.desktop-menu{
		display: block;
	}

	header{
	display: block;
	}

	#container {
		width: 100%;
		height: 96%;
	}

	/* ---------------------------------------
	              Desktop Menu
	------------------------------------------- */
	 .desktop-menu ul{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 align-items: flex-start;
		 width: 90%;
		 margin: 0 auto;
		 max-width: 930px;

	 }

	 .logo-container{
		 width: 13%;
		 z-index: 100;
		 background-color: #22223D;
		 margin: 1% 0 0 0;
		 padding: 1% 4.5% 2% 4.5%;
		 border-radius: 50%;
	 }

	 .logo{
		 width: 100%;

	 }

	 .desktop-menu ul li {
		 margin: 3% 0 0 0;
		 font-family: 'Karla', sans-serif;
		 font-size: 1.2rem;
		 letter-spacing: .2em;
	 }

	 	a:link {
	  	text-decoration: none;
			color: #98e6cc;
		}

		a:visited {
		  text-decoration: none;
			color: #98e6cc;
		}

		a:hover {
		  text-decoration: none;
			color: #98e6cc;
		}

		a:active {
		  text-decoration: none;
			color: #98e6cc;
		}

	/* ---------------------------------------
		        Facts Page Styles 760
	------------------------------------------- */
	article h1{
		margin: 5%;
		font-size: 5rem;
		text-align: center;

	}

		.facts-main h2 {
			margin: 0 10%;
			color: #98e6cc;
			font-size: 3rem;
		}

		.facts-main p {
			margin:  2% 10%;
		}

	/* ---------------------------------------
		          Quiz Page Styles 760
	------------------------------------------- */


	figure{
		width: 21%;
		margin: 5% 2%;
	}


	figure h3{
		margin: 6% 0 10% 0;
	}




	/* ---------------------------------------
	            Videos Page Styles 760
	------------------------------------------- */

	.vid-back {
		display: block;
		position: fixed;
		top:0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #161616;
		z-index: -100000;
	}


.vid-main {
	width: 100%;
	display: flex;
	margin: 7% 0 0 0;
	flex-direction: row-reverse;
}

.player-container{
	width: 71%;
	padding: 0 2% 2% 2%;
}

.player-imgs{
	padding: 1% 0 0 0;
	margin: 0 2%;
	width: 23%;
	height: 475px;
	background-color: #373737;
	overflow: scroll;
}

.player-imgs::-webkit-scrollbar{
	width: 1.5%;
	background-color: #373737;
}

.player-imgs::-webkit-scrollbar-thumb{
background-color: #98e6cc;
}

.alt-container{
	margin: 0% 5% 5% 5%;
}

footer{
	font-size: .9rem;
}
